.combo-box,
.choice-box {
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #FFFFFF;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: none;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #bdbdbd;
    -fx-padding: 0 0 3 3;
    /*-fx-font-weight: bold;*/ 
    -fx-font-family: "Phetsarath OT";
    /*    -fx-alignment: CENTER;*/
}

.combo-box .list-cell:filled:selected .text,
.choice-box .list-cell:filled:selected .text {
    -fx-fill: #FFFFFF;
}

.combo-box .arrow,
.choice-box .arrow {
    -fx-background-color: #4d4d4d;   
}

.text-field {
    -fx-prompt-text-fill: #FFFFFF;
    -fx-padding: 0 0 3 3;
    /*-fx-font-weight: bold;*/ 
    -fx-font-size: 14px;
    -fx-font-family: "Phetsarath OT";
    /*    -fx-alignment: CENTER;*/
}
.text-field > .text {
    -fx-effect: dropshadow( two-pass-box , blue , .5, 10 , 1 , 1);    
}
.btss {
    -fx-prompt-text-fill: #FFFFFF;
    -fx-text-fill: #202332;
    /*-fx-font-weight: bold;*/ 
    -fx-padding: 0 0 3 3;
    -fx-font-size: 14px;
    -fx-font-family: "Phetsarath OT";
    /*    -fx-alignment: CENTER;*/
}