.tab {
    -fx-background-color: #1c6fb8;
    -fx-font: 14px "Phetsarath OT" ;
    -fx-background-radius: 0;
}

.tab-label {
    -fx-text-fill: #fff;
}

.tab:focused .tab-label {
    -fx-text-fill: #fff;
}

.tab-header-background {
    -fx-background-color: #1c6fb8;
}

.tab-pane {
    -fx-tab-min-width:150px;
    -fx-tab-max-width:150px;
    -fx-tab-min-height:30px;
    -fx-tab-max-height:30px;
    -fx-background-color: #15558c;
}

/*.tab:selected {
    -fx-text-fill: #000;
    -fx-background-color: #15558c;
}*/

.tab-pane .tab:selected
{
    -fx-background-color: #15558c;
}

.tab:selected .tab-label { 
    -fx-text-fill: #fff;
    -fx-background-color: #15558c;
}