.parent{
    -fx-background-color: #ffffff;
}
.sidebar{
    -fx-background-color: #333645;
}
btns{
    -fx-background-color: transparent;
}
.btns:hover{
    -fx-background-color:  #202332;
}
.box {
    -fx-border-color: #7c8184;
}
btnss{
    -fx-background-color: transparent;
}
.btnss:hover{
    -fx-background-color:  #2AA3F6;
}
btlog{
    -fx-background-color: transparent;
}
.btlog:hover{
    -fx-background-color:  #FFFFFF;
}